/* GLOBALI */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("img/sfondo.jpg");
  background-size: cover;
}

header  h1,h4{
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
}

nav, footer {
  background-color: #643d25;
  height: 35px;
}

header {
  height: 200px;
  width: 100%;
  background-image: url("img/footer.jpg");
  background-position: bottom;
  position: relative;
}

button {
  float: left;
  height: 100%;
  width: 25%;
  border: none;
  background-color: #643d25;
  color: grey;
  cursor: pointer;
}

button.middle{
  border: 1px solid grey;
}

button:hover{
  background-color: #50311e;
  color: white;
}

main > div{
  float: left;
  padding: 30px;
  background-color: white;
  height: 100%;
  border-radius: 2%;
}

/* ID */

#main-top {
  border: 10px solid white;
  width: 80vw;
  background-color: white;
  margin: auto;
}

#main-center{
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#copyright{
  color: white;
  text-align: center;
  line-height: 35px;
  margin-bottom: 20px;
}

/* CLASSI */

.container {
  width: 80vw;
  margin: auto;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  width: 50%;
  height: 100%;
  margin: auto;
}

.menu:after{
  content: "";
  display: table;
  clear: both;
}


#main-center:after{
  content: "";
  display: table;
  clear: both;
}

.col-left {
  width: 20%;
}

.col-right {
  width: 20%;
}

.col-center {
  width: 55%;
  margin: 0 2.5%;
}
