/* GLOBALI */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("img/sfondo.jpg");
  background-size: cover;
}

header  h1,h4{
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
}

nav {
  background-color: #643d25;
  height: 35px;
}

header {
  height: 200px;
  width: 100%;
  background-image: url("img/footer.jpg");
  background-position: bottom;
  position: relative;
}

button {
  float: left;
  height: 100%;
  width: 25%;
  border: none;
  background-color: #643d25;
  color: grey;
  cursor: pointer;
}

button.middle{
  border: 1px solid grey;
}

button:hover{
  background-color: #50311e;
  color: white;
}

/* ID */

#container {
  width: 80vw;
  background-color: white;
  margin: auto;
}

/* CLASSI */

.main-top {
  padding: 10px;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  width: 50%;
  height: 100%;
  margin: auto;
}

.menu:after{
  content: "";
  display: table;
  clear: both;
}
